.navbar-container {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    backdrop-filter: blur(10px);
}
 
img {
    height: 50px;
}

.navbar-links {
    a {
        margin: 0 50px;
        padding: 10px 25px;
        cursor: pointer;
        text-decoration: none;
    }
    a:hover {
        color: var(--wb-highlight-color);
    }
    a:visited {
        color: var(--wb-font-color);
        text-decoration: none;
    }

    .resume {
        background-color: var(--wb-highlight-color);
        border-radius: 5px;
    }
    .resume:hover {
        color: var(--wb-highlight-color);
        background-color: var(--wb-font-color);
    }
}
