.experience-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    grid-gap: 3rem;
    margin: 50px auto;

    .card {
        border-radius: 5px;
        background-color: var(--wb-alt-color);
        min-height: 350px;
        
        &:hover {
            box-shadow: 0 0 18px 8px var(--wb-highlight-color); 
        }
    
        .card-content {
            text-align: center;

            .paragraph {
                text-align: left;
                line-height: 1.5;
                padding: 25px;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .experience-container {
        grid-template-columns: repeat(1, 1fr);
    }
}