<section>
    <h1>Experience</h1>
    <div class="experience-container">
        <div class="card">
            <div class="card-content">
                <h3>Application Developer Intern</h3>
                <h4>Farm Credit Services of America</h4>
                <div class="paragraph">
                    I had the opportunity to develop a micro front-end that seamlessly integrates with Salesforce's Einstein AI. Additionally, I gained valuable insights into agile methodologies and their practical application in a corporate environment.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h3>Information Security Intern</h3>
                <h4>Ameritas</h4>
                <div class="paragraph">
                    I learned how to analyze and interpret security logs and alerts to identify threats and vulnerabilites. Additionally, I assisted in reviewing security requests for access privileges, system modifications, and other security-related tasks.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h3>Help Desk Technician</h3>
                <h4>HuskerTech</h4>
                <div class="paragraph">
                    I provided technical support to students, staff, and faculty in the University of Nebraska system. Through this role, I was able to improve my problem-solving and troubleshooting skills.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h3>Platform Systems Intern</h3>
                <h4>Farm Credit Services of America</h4>
                <div class="paragraph">
                    I developed PowerShell scripts to execute a range of automated tasks within FCSAmerica's ActiveBatch and Octopus Deploy environments. These scripts streamlined processes and contributed to the overall efficiency of operations.
                </div>
            </div>
        </div>
    </div>
</section>
