<section>
    <h1>Projects</h1>
    <div class="project-container left-content">
        <div class="project-content">
            <h4>UNMC Senior Design Project</h4>
            <h3>360 Virtual Consultation Platform</h3>
            <div class="paragraph">
                this is placeholder text I do not like bad sandwiches test test ahhhhhhhhhhhhhhhhh ahahh ahhh ahhh help me thanks placeholder
            </div>
        </div>

        <div class="project-img">
            <img src="../../assets/images/Main-Screen-JPEG.jpg">
        </div>
    </div>
    <div class="project-container right-content">
        <div class="project-content">
            <h4>UNL Virtual Reality Project</h4>
            <h3>Chrononauts</h3>
            <div class="paragraph">
                this is placeholder text I do not like bad sandwiches test test ahhhhhhhhhhhhhhhhh ahahh ahhh ahhh help me thanks placeholder
            </div>
        </div>

        <div class="project-img">
            <a href="https://youtu.be/DQK7uzXImlU" target="_blank"><img src="../../assets/images/Main-Screen-JPEG.jpg"></a>
        </div>
    </div>
</section>