<section>
    <h1>Projects</h1>
    <div class="project-container left-content">
        <div class="project-content">
            <h4>UNMC Senior Design Project</h4>
            <h3>360 Virtual Consultation Platform</h3>
            <div class="paragraph">
                Created an award-winning project aimed to develop an innovative online 360 virtual consultation platform, similar to Zoom, but leveraging 360 cameras. 
                These cameras would be mobile within hospitals, allowing consultants to provide remote assistance seamlessly and efficiently. 
                The project received the platinum award at UNL's Senior Design Showcase.
            </div>
        </div>

        <div class="project-img">
            <a href="https://youtu.be/ybSI2u4xYqE" target="_blank"><img src="../../assets/images/UNMC-3.jpg"></a>
        </div>
    </div>
    <div class="project-container right-content">
        <div class="project-content">
            <h4>UNL Virtual Reality Project</h4>
            <h3>Chrononauts</h3>
            <div class="paragraph">
                A Virtual Reality game where the player assumes the role of a Time Janitor, a professional in transferring valuable items through different eras. 
                On a routine job one item causes time to become entangled and it is the player's duty to clean it up.
                The reward for this may or may not include a pizza party.
            </div>
        </div>

        <div class="project-img">
            <a href="https://youtu.be/DQK7uzXImlU" target="_blank"><img src="../../assets/images/Chrononauts-2.jpg"></a>
        </div>
    </div>
</section>