<section>
    <h1>Skills</h1>
    <div class="skills-container">
        <img src="../../assets/images/icons/python.svg">
        <img src="../../assets/images/icons/c-sharp.svg">
        <img src="../../assets/images/icons/javascript.svg">
        <img src="../../assets/images/icons/typescript.svg">
        <img src="../../assets/images/icons/angular.svg">
        <img src="../../assets/images/icons/react.svg">
        <img src="../../assets/images/icons/c-plus.svg">
        <img src="../../assets/images/icons/powershell.svg">
    </div>
</section>
