@import url('https://fonts.cdnfonts.com/css/sf-mono');

:root {
    --wb-font-family: 'SF Mono', Verdana, sans-serif;
    
    --wb-h1-size: 40px;
    --wb-h2-size: 20px;
    --wb-h3-size: 18px;
    --wb-h4-size: 14px;
    --wb-font-size: 16px;

    --wb-background-color: #12130F;
    --wb-font-color: #F1F2F2;
    --wb-highlight-color: #0454A3;
    --wb-alt-color: #252525;
}